body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.currency-select-label{
  display: flex;
}

.currency-select{
  background-color: lawngreen;
  width: 100%;
  display: inline-block;
}

.currency-select option:checked{
  background-color: white;
}
.form-div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.form-div p{
  margin: 0px;
}